<div class="me-6">
  <i
    class="far fa-times-circle text-gray-400 hover:text-yellow-500 cursor-pointer"
  ></i>
</div>
<div>
  <img [src]="imgProductCart" class="w-32 h-auto object-cover" />
</div>
<div>
  <a href="#" class="capitalize text-base hover:text-yellow-500">
    {{ nameProductCart }}
  </a>
  <p class="text-gray-400 text-sm">{{ available }}</p>
</div>
<div class="ms-16">£{{ priceProductCart }}</div>
<div class="ms-32">
  <label>
    <input
      type="number"
      min="0"
      max="10"
      value="1"
      class="w-12 h-10 text-center p-2 text-md focus:border-yellow-500 focus:outline-none focus:ring-1 focus:ring-yellow-500 transition duration-500"
    />
  </label>
</div>
<div class="ms-36">£174.66</div>

<!-- <tbody>
  <tr class="font-bold border-b border-gray-300">
    <td class="text-center">
      <i
        class="far fa-times-circle text-gray-400 hover:text-yellow-500 cursor-pointer"
      ></i>
    </td>
    <td class="p-4">
      <img [src]="imgProductCart" class="w-32 h-auto object-cover" />
    </td>
    <td>
      <a href="#" class="capitalize text-lg hover:text-yellow-500">
        {{ nameProductCart }}
      </a>
      <p class="text-gray-400">{{ available }}</p>
    </td>
    <td>£{{ priceProductCart }}</td>
    <td>
      <label>
        <input
          type="number"
          min="0"
          max="10"
          value="1"
          class="w-12 h-10 text-center p-2 text-md focus:border-yellow-500 focus:outline-none focus:ring-1 focus:ring-yellow-500 transition duration-500"
        />
      </label>
    </td>
    <td>£{{ priceProductCart }}</td>
  </tr>
</tbody> -->
