<thead>
  <tr class="uppercase border-b border-gray-300">
    <th class="w-[5%]"></th>
    <th class="w-[15%]"></th>
    <th class="w-[35%]">product</th>
    <th class="w-[15%]">price</th>
    <th class="w-[15%]">quantity</th>
    <th class="w-[15%]">subtotal</th>
  </tr>
</thead>
<tbody>
  <tr class="font-bold border-b border-gray-300">
    <th>
      <i
        class="far fa-times-circle text-gray-400 hover:text-yellow-500 cursor-pointer"
      ></i>
    </th>
    <td class="p-4"><img src="15-800x747.png" class="w-32" /></td>
    <td>
      <a href="#" class="capitalize text-lg hover:text-yellow-500">
        incredible rubber coat
      </a>
      <p class="text-gray-400">Available on backorder</p>
    </td>
    <td>£174.66</td>
    <td>
      <label>
        <input
          type="number"
          min="0"
          max="10"
          value="1"
          class="w-12 h-10 text-center p-2 text-md focus:border-yellow-500 focus:outline-none focus:ring-1 focus:ring-yellow-500 transition duration-500"
        />
      </label>
    </td>
    <td>£174.66</td>
  </tr>
  <tr class="font-bold border-b border-gray-300">
    <th>
      <i
        class="far fa-times-circle text-gray-400 hover:text-yellow-500 cursor-pointer"
      ></i>
    </th>
    <td><img src="6-400x373.png" class="w-24" /></td>
    <td>
      <a href="#" class="capitalize text-lg hover:text-yellow-500">
        incredible rubber coat
      </a>
      <p class="text-gray-400">Available on backorder</p>
    </td>
    <td>£174.66</td>
    <td>
      <label>
        <input
          type="number"
          min="0"
          max="10"
          value="1"
          class="w-12 h-10 text-center p-2 text-md focus:border-yellow-500 focus:outline-none focus:ring-1 focus:ring-yellow-500 transition duration-500"
        />
      </label>
    </td>
    <td>£174.66</td>
  </tr>
  <tr class="font-bold">
    <th>
      <a href="#">
        <i
          class="far fa-times-circle text-gray-400 hover:text-yellow-500 cursor-pointer"
        ></i>
      </a>
    </th>
    <td><img src="4-400x373.png" class="w-24" /></td>
    <td>
      <a href="#" class="capitalize text-lg hover:text-yellow-500">
        incredible rubber coat
      </a>
      <p class="text-gray-400">Available on backorder</p>
    </td>
    <td>£174.66</td>
    <td>
      <label>
        <input
          type="number"
          min="0"
          max="10"
          value="1"
          class="w-12 h-10 text-center p-2 text-md focus:border-yellow-500 focus:outline-none focus:ring-1 focus:ring-yellow-500 transition duration-500"
        />
      </label>
    </td>
    <td>£174.66</td>
  </tr>
</tbody>
